#gen1{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
h1{
    font-size: 49px;
    text-align: center;
    font-family: fantasy;
}
#gen2{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
div{
    border: white 10px double;
}
#gen3{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
#gen4{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
#gen5{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
#gen6{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
#gen7{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
#gen8{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}
#gen9{
    display: inline-block;
    float: left;
    border: inset 5px orange;
}